html {
    background-color: #131214;
    /* background-color: white; */
    
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header {
    background-color: #131214;
    height: 5em;
    position: relative;
    bottom: 16px;
}


.nav-list {
    display: flex;
    /* justify-content: flex-start; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 1em;
    
    
}

.nav-item{
    list-style: none;
    margin-right: 1em;
    /* margin-top: 0.25em; */
  
    position: relative;
    bottom: 0.50em;
   
    
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
}


.header-div {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 3em;
}

.nav-item1  {

     
    list-style: none;
    margin-right: 0.25em;
    margin-top: 1em;
    margin-left: 3em;
    position: relative;
    /* left: 30em; */
}

h2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-align: center;

}

h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    height: 340px;
    border-top: 1px solid white;
    /* background-color: wheat; */
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.angelie {
    /* background-color: tomato; */
    border-right: 1px solid white;
}


.ange-dp {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
   
    bottom: 5em;
    z-index: 1;
    
    /* transition: 0.5s; */
   
}


/* .ange-dp:hover {
    width: 269px;
    height: 269px;
    
} */

.name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: wheat; */
    border-top: 1px solid white;
    position: relative;
    top: 16em;
    height: 5.2em;
    
}

.name {
    margin-left: 3em;
}

.arrow-button {
    position: relative;
    right: 2em;
}


.arrow {
    padding-left: 20em;
    position: relative;
    bottom: 1em;
}

.kagie {
    /* background-color: thistle; */
    
}

.bg-header {
    background-color: #F04539;
    color: #131214;
    border-radius: 20px;
    padding-left: 1em;
    padding-right: 1em;
}