body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #2A262E;
}

h1{
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    
}


.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.nav-item{
    list-style: none;
    margin-right: 3em;
}

.nav-item a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #2A262E;
    text-decoration: none;
    padding: 5px;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1em;
    
}


header {
    background-color: #2ED1C5;
    height: 5em;
    position: relative;
    bottom: 16px;
    padding: 30px;  
}

.img-position {
    position: relative;
    bottom: 1em;
}

.flex-content {
    display: flex;
    justify-content: space-between;
    width: 7em;

}

.description {
    width: 38em;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 25px;
    text-align: justify;
    padding-left: 0.2em;
    position: relative;
    bottom: 4em;

}

.title {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    position: relative;
    bottom: 0.8em;
}

.year_and_duration {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
}

.button {
    background-color: #B82C2B;
    border: none;
    color: white;
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* z-index: 1; */
    position: relative;
    bottom: 1.5em;
    
    
}

.img-a-position {
    position: relative;
    top: 0.5em;
    right: 0.2em;
}

.position {
    z-index: 1;
    position: relative;
    bottom: 34.5em;
    margin-left: 3em;

}

.flex-content2 {
    display: flex;
    justify-content: space-between;
    width: 30em;

}

.director_producer {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    position: relative;
    top: 1em;
}

.click:hover{
    background-color: #2A262E;
    color: white;
}