html {
    background-color: #F1EBDF;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/* .vertical-1 {
    border-left: 1px solid black;
    height: 100px;
    position: relative;
    left: 3em;
} */

.section-1 {
    width: 100%;
    height: 123px;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.image-1 {
    position: relative;
    /* left: 100px; */
    left: 7em;
    /* bottom: 455px; */
    bottom: 28em;
}

.icon {
    position: relative;
    left: 50em;
    top: 2em;
}

.section-2 {
    width: 100%;
    height: 3em;
    /* background-color: red; */
}

.section-3 {
    width: 100%;
    height: 524px;
    /* background-color: green; */
    

}

.position {
    position: relative;
    bottom: 359px;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.image-2 {
    position: relative;
    left: 7em;
    
}


.text {
    position: relative;
    right: 12em;
    
    bottom: 2em;
    
} 


 h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 144px;
} 

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    line-height: 25px;
    position: relative;
    bottom: 9em;
    text-align: right;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    position: relative;
    bottom: 9em;
    text-align: right;
}

.image-3 {
    position: relative;
    left: 33em;
}

.vertical-1 {
    border-left: 1px solid black;
  height: 300px;
  position: absolute;
  left: 4%;
  top: 0;
  opacity: 0.25;
}

.vertical-2 {
    border-left: 1px solid black;
  height: 300px;
  position: absolute;
  left: 4%;
  bottom: 0;
  opacity: 0.25;
}

.welcome {
    position: relative;
    right: 628px;
    bottom: 138px;
    opacity: 0.75;
}

.color {
    color: black;
}
