html {
    background-color: #F1EBDF;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}

.nav-item{
    list-style: none;
    margin-right: 3em;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 5px;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 1em;
    
}

a:hover {
    color: #DF3433;
}

html .content {
    margin: 0em 3em 0em 3em;
    

}

.link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.link:hover {
    color: blue;
}
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
    color: black;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: black;
    line-height: 25px;

}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5em;
    grid-row-gap: 3em;
}

.info {
    padding-left: 10em;
    text-align: justify;
}

.title {
    padding-left: 2rem;
    line-height: 70px;
}

.image_padding {
    padding-top: 3em;
}


.wrapper_second {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 3em;
    
}

.image_padding2{
    padding-left: 2rem;
    padding-top: 10em;
    /* padding-bottom: 2em; */
}

 .title_second {
    padding-top: 6rem;
    padding-left: 2rem;
    
}

.info_second {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: justify;
    padding-left: 2rem;
}




.wrapper_third {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 3em;
    
}

.image_padding3{
    padding-left: 2rem;
    padding-top: 8em;
    padding-bottom: 2em;
}

.title_third {
    padding-top: 5rem;
    padding-left: 2rem;
    
}

.info_third {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: justify;
    padding-left: 2rem;
    
}

.wrapper_fourth {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 3em;
    /* padding-bottom: 2rem; */
}

.image_padding4 {
    padding-left: 2rem;
    padding-top: 8em;
    padding-bottom: 12em;
}

.title_fourth{
    padding-left: 2rem;
    padding-top: 4rem;
    
}

.info_fourth {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    text-align: justify;
    padding-left: 2rem;
    
}

footer {
    display: flex;
    justify-content: flex-end;
}

.image-5 {
    padding-right: 1em;
}