html {
    background-color: #F5F5F5;
}

body {
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}



.nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    
}

.nav-item{
    list-style: none;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 3em;
    position: relative;
    left: 3em;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 5px;
}

.nav-item-1 {
    list-style: none;
    position: relative;
    left: 42em;
    top: 8px;
}

a:hover{
    color: #DF3433;
}

header {
    background-color: black;
    height: 5em;
    position: relative;
    bottom: 16px;
}

.section-wrapper {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-column-gap: 1em;
    margin-bottom: 4em;
    position: relative;
    bottom: 5em;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: black;
    font-weight: 800;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 400;

}

.description {
    text-align: justify;
    line-height: 25px;
}

.content-1 {
    margin-right: 10em;
    margin-top: 5em;
    
    
}
.about-us{
    margin-left: 2.3em;
    margin-top: 1em;

}
.ainu {
    margin-left: 8em;
    margin-top: 8em;
    
}

.section-wrapper-2 {
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-column-gap: 5em;
    margin-bottom: 13em;
    position: relative;
    bottom: 8em;

    
    
}

.content-2 {
    margin-top: 3em;
    margin-left: 8em;
    width: 35em;
}

.sapporo {
    margin-top: 4em;
    position: relative;
    right: 10em;
    top: 2em
}

.description-2 {
    text-align: justify;
    line-height: 25px;
    color: white;
}

.title-2 {
    color: white;
}

.circle {
    position: relative;
    top: 20em;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
    margin-left: 10em;
    margin-left: 10em;
  
}


.footer-container {
    background-color: black;
    
}

.footer-text {
    line-height: 50px;
    color: white;
    font-size: 12px;
}

.footer-logo {
    display: grid;
    grid-template-rows: 2fr;
}    

.aa {
    margin-left: auto;
    margin-right: auto;
}
    

hr {
    position: relative;
    top: 1em;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: black;
    font-weight: 800;
}

.red-container {
    position: absolute;
    top: 35em;
    z-index: -1;
}

